<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang = "en">
<title>Pagination</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" type="text/css" media="all"  href="../../static/css/mystyle2.css" th:href="@{css/mystyle2.css}" />
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" ></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>


</head>
<body>


<table class="table table-hover"  height ='300'>
        <tr>
            <th>Batch ID</th>
            <th>Starting Date</th>
            <th>Ending Date</th>
            <th>Updated Date</th>
            <th>Batch Status</th>
            <th>Object Type</th>
            <th>Count</th>
	     </tr>
	     <tr th:each="detail : ${detailsList}">
	        <td th:text="${detail.batch_id}">4121</td>
	        <td th:text="${detail.start_dttm}">Wed Oct 05 2016</td>
	        <td th:text="${detail.end_dttm}">Wed Oct 05 2016</td>
	        <td th:text="${detail.update_dttm}">Wed Oct 05 2016</td>
	        <td th:text="${detail.batch_status}">Z</td>
	        <td th:text="${detail.object_type}">LOT</td>
	        <td th:text="${detail.object_count}">41</td>
	      </tr>
</table>
    
    <table class="thislink" align="center">
    		<tr>
    			<td><a th:href="@{/pagination(page=${currentPage - 1},pass=${CurrentObject},profile=${profile})}" th:if="${currentPage != 1}" >Previous</a></td>
    			<td ><a th:href="@{/pagination(page=${currentPage - 7},pass=${CurrentObject},profile=${profile})}" th:text="${currentPage - 7}" th:if="${currentPage-7 gt 0}"></a></td>
    			<td ><a th:href="@{/pagination(page=${currentPage - 6},pass=${CurrentObject},profile=${profile})}" th:text="${currentPage - 6}" th:if="${currentPage-6 gt 0}"></a></td>
    			<td ><a th:href="@{/pagination(page=${currentPage - 5},pass=${CurrentObject},profile=${profile})}" th:text="${currentPage - 5}" th:if="${currentPage-5 gt 0}"></a></td>
    			<td ><a th:href="@{/pagination(page=${currentPage - 4},pass=${CurrentObject},profile=${profile})}" th:text="${currentPage - 4}" th:if="${currentPage-4 gt 0}"></a></td>
    			<td ><a th:href="@{/pagination(page=${currentPage - 3},pass=${CurrentObject},profile=${profile})}" th:text="${currentPage - 3}" th:if="${currentPage-3 gt 0}"></a></td>
    			<td ><a th:href="@{/pagination(page=${currentPage - 2},pass=${CurrentObject},profile=${profile})}" th:text="${currentPage - 2}" th:if="${currentPage-2 gt 0}"></a></td>
    			<td ><a th:href="@{/pagination(page=${currentPage - 1},pass=${CurrentObject},profile=${profile})}" th:text="${currentPage - 1}" th:if="${currentPage-1 gt 0}"></a></td>
    			<td th:text="${currentPage}"></td>
    			<td ><a th:href="@{/pagination(page=${currentPage + 1},pass=${CurrentObject},profile=${profile})}" th:text="${currentPage + 1}" th:if="${currentPage+1 lt noOfPages+1}"></a></td>
    			<td ><a th:href="@{/pagination(page=${currentPage + 2},pass=${CurrentObject},profile=${profile})}" th:text="${currentPage + 2}" th:if="${currentPage+2 lt noOfPages+1}"></a></td>
    			<td ><a th:href="@{/pagination(page=${currentPage + 3},pass=${CurrentObject},profile=${profile})}" th:text="${currentPage + 3}" th:if="${currentPage+3 lt noOfPages+1}"></a></td>
    			<td ><a th:href="@{/pagination(page=${currentPage + 4},pass=${CurrentObject},profile=${profile})}" th:text="${currentPage + 4}" th:if="${currentPage+4 lt noOfPages+1}"></a></td>
    			<td ><a th:href="@{/pagination(page=${currentPage + 5},pass=${CurrentObject},profile=${profile})}" th:text="${currentPage + 5}" th:if="${currentPage+5 lt noOfPages+1}"></a></td>
    			<td ><a th:href="@{/pagination(page=${currentPage + 6},pass=${CurrentObject},profile=${profile})}" th:text="${currentPage + 6}" th:if="${currentPage+6 lt noOfPages+1}"></a></td>
    			<td ><a th:href="@{/pagination(page=${currentPage + 7},pass=${CurrentObject},profile=${profile})}" th:text="${currentPage + 7}" th:if="${currentPage+7 lt noOfPages+1}"></a></td>
    			<td><a th:href="@{/pagination(page=${currentPage + 1},pass=${CurrentObject},profile=${profile})}" th:if="${currentPage+1 lt noOfPages+1}">Next</a></td>
    		</tr>
    </table>
</body>
</html>