<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang = "en">
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Details Listing</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" media="all"  href="../../static/css/mystyle.css" th:href="@{css/mystyle.css}" />
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" ></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
		
		<div class="container-fluid">
	
				<div class="row" style="background-color:#1d5ab9" >	
			  		<img src="../../static/images/copartimage.jpg" th:src="@{/images/copartimage.jpg}" th:alt="Copart" height="80"/>
			  		
				  		<select id="selectTime">
							<option value="1" selected="selected">1 Min</option>
						    <option value="2">3 Min</option>
						    <option value="3">5 Min</option>
						</select>
						<h4 id = "refresh">Refresh Time</h4>
					
			 	</div>
		</div>
<!-- Drop down commented	
	<div> 
		<select id="thisProfile">
			<option value="1" selected="selected">US_Reno</option>
		    <option value="2">US_Colo</option>
		    <option value="3">Uk_Reno</option>
		    <option value="4">Uk_Colo</option>
		</select>
	</div> 
 -->
	<div class="container">
		<form  action="" method="post" class="col-sm-2">
			<ul>
				<li>
				    <input type="radio" id="btn1" name="selector" value="1" checked="checked"/> 
				    <label for="btn1">US_Reno</label>
				    <div class="check"><div class="inside"></div></div>
				</li>
				<li>
				    <input type="radio" id="btn2" name="selector" value="2" />
				    <label for="btn2">US_Colo</label>
				    <div class="check"><div class="inside"></div></div>
				</li>
				<li>
				    <input type="radio" id="btn3" name="selector" value="3" />
				    <label for="btn3">UK_Reno</label>
				    <div class="check"><div class="inside"></div></div>
				</li>
				<li>
				    <input type="radio" id="btn4" name="selector" value="4" />
				    <label for="btn4">UK_Colo</label>
				    <div class="check"><div class="inside"></div></div>
				</li>
		    </ul>
		</form>
		
			<div style="text-align:center;height:1em" ></div>
 			<div id="thisheading" style="text-align:center;height:1em" ><b>US_Reno</b></div>
 			<div style="text-align:center;height:1em" ></div>
		<div class="col-sm-9">
		<table id="thistable" class="table table-hover">
        <tr style="height:2px;">
        	<th>Object Type</th>
            <th>Batch ID</th>
            <th>Starting Date (CDT)</th>
            <th>Ending Date (CDT)</th>
            <th>Updated Date (CDT)</th>
            <th>Batch Status</th>          
            <th>Progress</th>
            <th>Display</th>
        </tr>
        <tr id ='row1' class='clickable-row' data-href="/pagination?pass=1" style="height:2px;">
        	<td>LOT</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>          
            <td></td>
            <td><a href='#myModal' class='btn btn-xs btn-primary' data-toggle='modal'>Click</a></td>
        </tr>
        <tr id ='row2' class='clickable-row' data-href="/pagination?pass=2" style="height:2px;">
        	<td>BUYER</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>          
            <td></td>
            <td><a href='#myModal' class='btn btn-xs btn-primary' data-toggle='modal' >Click</a></td>
        </tr>
        <tr id ='row3' class='clickable-row' data-href="/pagination?pass=3" style="height:2px;">
        	<td>SELLER</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>          
            <td></td>
            <td><a href='#myModal' class='btn btn-xs btn-primary' data-toggle='modal'>Click</a></td>
        </tr>
        <tr id ='row4' class='clickable-row' data-href="/pagination?pass=4" style="height:2px;">
        	<td>VIDEO</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>          
            <td></td>
            <td><a href='#myModal' class='btn btn-xs btn-primary' data-toggle='modal'>Click</a></td>
        </tr>
        <tr id ='row5' class='clickable-row' data-href="/pagination?pass=5" style="height:2px;">
        	<td>IMAGE</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>          
            <td></td>
            <td><a href='#myModal' class='btn btn-xs btn-primary' data-toggle='modal'>Click</a></td>
        </tr>
        <tr id ='row6' class='clickable-row' data-href="/pagination?pass=6" style="height:2px;">
        	<td>ATTR</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>          
            <td></td>
            <td><a href='#myModal' class='btn btn-xs btn-primary' data-toggle='modal'>Click</a></td>
        </tr>
    </table>
    <div style="text-align:center;height:1em;"></div>
    
    <div style="text-align:center;"><div style="text-align:center;height:2em;" id ="fortitle"></div><span id='chart_div' class="inner" ></span></div>
   	<div style="text-align: center;" id="forrange">
			  From:
			  <input type="date" id="datepicker1" />
			  To:
			   <input type="date" id="datepicker2" />
				<select id="thisObject">
				  <option value="1" selected="selected">LOT</option>
				  <option value="2">BUYER</option>
				  <option value="3">SELLER</option>
				  <option value="4">VIDEO</option>
				  <option value="5">IMAGE</option>
				  <option value="6">ATTR</option>
				</select>
			  <button type="button" id="myBtn" class="btn btn-primary btn-xs" >Enter</button> 
	</div>
    </div>
	</div>
	
		
		
<!-- </div>-->
		
<script type="text/javascript">
/*<![CDATA[*/
             jQuery(document).ready(function($){
            	 var size = ($(window).width())*0.721875;
            	 $("#thistable").attr('width',size);
            	 var today = new Date();
            	 var dd = today.getDate();
            	 var mm = today.getMonth()+1;
            	 var yyyy = today.getFullYear();
            	 $("#fortitle").attr('width',size);
            	 $("#forrange").attr('width',size);
            	 if(dd<10){dd='0'+dd;} if(mm<10){mm='0'+mm;} today = yyyy+'-'+mm+'-'+dd;
            	 $("#datepicker1").attr('value', today);
            	 $("#datepicker2").attr('value', today);
            	 var profile = 1;
            	 var type = "Lot";
            	 var time = 1;
            	 var time1 = 60000;
            	 var timer;
            	 tableData();
            	 document.getElementById("fortitle").innerHTML = 'Lot';
            	 drawGraph("/graphToday?pass=1&profile="+profile);
            	 $("#row1").css('background-color', '#FFFFB8');
            	 $("#selectTime").on("change", function () {
            		 time = $(this).val();
            		 if(time == 1){
            			 time1 = 60000;
            			 clearInterval(timer);
            			 timer = setInterval ( tableData, time1 );
            		 }
            		 else if (time == 2){
            			 time1 = 180000;
            			 clearInterval(timer);
            			 timer = setInterval ( tableData, time1 );
            		 }
            		 else{
            			 time1 = 300000;
            			 clearInterval(timer);
            			 timer = setInterval ( tableData, time1 );
            		 }
            		 tableData();
            	 });
            	/*$("#thisProfile").on("change", function () {
            		 profile = $(this).val();
            		 tableData();
            	 });*/
            	 $("#btn1").click( function(){
            		 profile = 1;
            		 tableData();
            		 document.getElementById("fortitle").innerHTML = 'Lot';
            		 //document.getElementById("thisheading").innerHTML = 'US_Reno';
            		 //$("#thisheading").html("<b>US_Reno</b>");
            		$("#row1").css('background-color', '#FFFFB8');
     				$("#row3").css('background-color', '');
     				$("#row4").css('background-color', '');
     				$("#row2").css('background-color', '');
     				$("#row5").css('background-color', '');
     				$("#row6").css('background-color', '');
            		 drawGraph("/graphToday?pass=1&profile="+profile);
            	 });
            	 $("#btn2").click( function(){
            		 profile = 2;
            		 tableData();
            		 document.getElementById("fortitle").innerHTML = 'Lot';
            		 //document.getElementById("thisheading").innerHTML = 'US_Colo';
            		 //$("#thisheading").html("<b>US_Colo</b>");
            		$("#row1").css('background-color', '#FFFFB8');
      				$("#row3").css('background-color', '');
      				$("#row4").css('background-color', '');
      				$("#row2").css('background-color', '');
      				$("#row5").css('background-color', '');
      				$("#row6").css('background-color', '');
            		 drawGraph("/graphToday?pass=1&profile="+profile);
            	 });
            	 $("#btn3").click( function(){
            		 profile = 3;           		 
            		 tableData();
            		 document.getElementById("fortitle").innerHTML = 'Lot';
            		 //document.getElementById("thisheading").innerHTML = 'UK_Reno';
            		 //$("#thisheading").html("<b>UK_Reno</b>");
            		 $("#row1").css('background-color', '#FFFFB8');
      				$("#row3").css('background-color', '');
      				$("#row4").css('background-color', '');
      				$("#row2").css('background-color', '');
      				$("#row5").css('background-color', '');
      				$("#row6").css('background-color', '');
            		 drawGraph("/graphToday?pass=1&profile="+profile);
            	 });
            	 $("#btn4").click( function(){
            		 profile = 4;            		 
            		 tableData();
            		 document.getElementById("fortitle").innerHTML = 'Lot';
            		 //document.getElementById("thisheading").innerHTML = 'UK_Colo';
            		 //$("#thisheading").html("<b>UK_Colo</b>");
            		$("#row1").css('background-color', '#FFFFB8');
      				$("#row3").css('background-color', '');
      				$("#row4").css('background-color', '');
      				$("#row2").css('background-color', '');
      				$("#row5").css('background-color', '');
      				$("#row6").css('background-color', '');
            		 drawGraph("/graphToday?pass=1&profile="+profile);
            	 });
            	 /*
            	 function getRadioValue(id) {
            		 alert("entered");
            		 var radioBtn = document.getElementById(id);
            		 profile = radioBtn.value;
            		 alert(radioBtn.value);
            		 tableData();
            		 }*/  
            	 
            	 function tableData(){
            			 var update = new Date();
            			 if(profile == 1){
            			 	$("#thisheading").html("<b style='text-align: center; color:red; font-weight: bold;'>US_Reno</b> <b style='float:right;'><span style='color:blue; '>Last Refreshed at : &nbsp</span>"+formatDate(update)+"</b>");
            			 }
            			 else if(profile == 2){
            				 $("#thisheading").html("<b style='text-align: center; color:red; font-weight: bold;'>US_Colo</b><b style='float:right;'><span style='color:blue;'>Last Refreshed at :&nbsp</span>"+formatDate(update)+"</b>");
            			 }
            			 else if(profile == 3){
            				 $("#thisheading").html("<b style='text-align: center; color:red; font-weight: bold;'>UK_Reno</b><b style='float:right;'><span style='color:blue;'>Last Refreshed at :&nbsp</span>"+formatDate(update)+"</b>");
            			 }
            			 else if(profile == 4){
            				 $("#thisheading").html("<b style='text-align: center; color:red; font-weight: bold;'>UK_Colo</b><b style='float:right;'><span style='color:blue;'>Last Refreshed at :&nbsp</span>"+formatDate(update)+"</b>");
            			 }
            		 $.get("/index?profile="+profile, function(data) {
            			 $.each(data, function(i, list) {
                         	$.each(list,function(j,detail){
                         		//console.log(detail.object_type);
                         		//console.log("profile is "+profile);
                         		//console.log("List is "+list);
                         		//console.log("Batch Id is "+detail.batch_id);
                         		 if(detail.object_type == "lot"){
                         			
                         			var x = document.getElementById("thistable").rows[1].cells;
                         			//console.log(table);
                         			x[0].innerHTML = "LOT";
                         			x[1].innerHTML = detail.batch_id;
                         			x[2].innerHTML = formatDate(new Date(detail.start_dttm));
                         			x[3].innerHTML = formatDate(new Date(detail.end_dttm));
                         			x[4].innerHTML = formatDate(new Date(detail.update_dttm));
                         			x[5].innerHTML = detail.batch_status;
                         				if(detail.batch_status.toLowerCase() == 'z'){
                         					x[6].innerHTML = '<img src="../../images/tick.png" th:src="@{/images/tick.png}" th:alt="lot" height="40" width="50"/>';
                         				}
                         				else if(detail.batch_status.toLowerCase() == 'ce'){
                         					x[6].innerHTML = '<img src="../../images/tick.png" th:src="@{/images/mistake.png}" th:alt="lot" height="40" width="50"/>';
                         				}
                         				else {
                         					x[6].innerHTML = '<img src="../../images/progress.png" th:src="@{/images/tick.png}" th:alt="lot" height="40" width="50"/>';
                         				}
                         				
                         		}
                         		else if(detail.object_type=="buyer"){
                         			
                         			var x = document.getElementById("thistable").rows[2].cells;
                         			//console.log(table);
                         			x[0].innerHTML = "BUYER";
                         			x[1].innerHTML = detail.batch_id;
                         			x[2].innerHTML = formatDate(new Date(detail.start_dttm));
                         			x[3].innerHTML = formatDate(new Date(detail.end_dttm));
                         			x[4].innerHTML = formatDate(new Date(detail.update_dttm));
                         			x[5].innerHTML = detail.batch_status;
                         			if(detail.batch_status.toLowerCase() == 'z'){
                     					x[6].innerHTML = '<img src="../../images/tick.png" th:src="@{/images/tick.png}" th:alt="lot" height="40" width="50"/>';
                     				}
                     				else if(detail.batch_status.toLowerCase() == 'ce'){
                     					x[6].innerHTML = '<img src="../../images/tick.png" th:src="@{/images/mistake.png}" th:alt="lot" height="40" width="50"/>';
                     				}
                     				else {
                     					x[6].innerHTML = '<img src="../../images/progress.png" th:src="@{/images/tick.png}" th:alt="lot" height="40" width="50"/>';
                     				}
                         			
                         		}
                         		else if(detail.object_type=="seller"){
                         			
                         			var x = document.getElementById("thistable").rows[3].cells;
                         			//console.log(table);
                         			x[0].innerHTML = "SELLER";
                         			x[1].innerHTML = detail.batch_id;
                         			x[2].innerHTML = formatDate(new Date(detail.start_dttm));
                         			x[3].innerHTML = formatDate(new Date(detail.end_dttm));
                         			x[4].innerHTML = formatDate(new Date(detail.update_dttm));
                         			x[5].innerHTML = detail.batch_status;
                         			if(detail.batch_status.toLowerCase() == 'z'){
                     					x[6].innerHTML = '<img src="../../images/tick.png" th:src="@{/images/tick.png}" th:alt="lot" height="40" width="50"/>';
                     				}
                     				else if(detail.batch_status.toLowerCase() == 'ce'){
                     					x[6].innerHTML = '<img src="../../images/tick.png" th:src="@{/images/mistake.png}" th:alt="lot" height="40" width="50"/>';
                     				}
                     				else {
                     					x[6].innerHTML = '<img src="../../images/progress.png" th:src="@{/images/tick.png}" th:alt="lot" height="40" width="50"/>';
                     				}
                         			
                         		}
                         		else if(detail.object_type=="video"){
                         			
                         			var x = document.getElementById("thistable").rows[4].cells;
                         			//console.log(table);
                         			x[0].innerHTML = "VIDEO";
                         			x[1].innerHTML = detail.batch_id;
                         			x[2].innerHTML = formatDate(new Date(detail.start_dttm));
                         			x[3].innerHTML = formatDate(new Date(detail.end_dttm));
                         			x[4].innerHTML = formatDate(new Date(detail.update_dttm));
                         			x[5].innerHTML = detail.batch_status;
                         			if(detail.batch_status.toLowerCase() == 'z'){
                     					x[6].innerHTML = '<img src="../../images/tick.png" th:src="@{/images/tick.png}" th:alt="lot" height="40" width="50"/>';
                     				}
                     				else if(detail.batch_status.toLowerCase() == 'ce'){
                     					x[6].innerHTML = '<img src="../../images/tick.png" th:src="@{/images/mistake.png}" th:alt="lot" height="40" width="50"/>';
                     				}
                     				else {
                     					x[6].innerHTML = '<img src="../../images/progress.png" th:src="@{/images/tick.png}" th:alt="lot" height="40" width="50"/>';
                     				}
                         			
                         		}
                         		else if(detail.object_type.toLowerCase()=="image_reno" || detail.object_type.toLowerCase()=="image_colo"){
                         			
                         			var x = document.getElementById("thistable").rows[5].cells;
                         			//console.log(table);
                         			x[0].innerHTML = "IMAGE";
                         			x[1].innerHTML = detail.batch_id;
                         			x[2].innerHTML = formatDate(new Date(detail.start_dttm));
                         			x[3].innerHTML = formatDate(new Date(detail.end_dttm));
                         			x[4].innerHTML = formatDate(new Date(detail.update_dttm));
                         			x[5].innerHTML = detail.batch_status;
                         			if(detail.batch_status.toLowerCase().trim() == 'z'){
                     					x[6].innerHTML = '<img src="../../images/tick.png" th:src="@{/images/tick.png}" th:alt="lot" height="40" width="50"/>';
                     				}
                     				else if(detail.batch_status.toLowerCase().trim() == 'ce'){
                     					x[6].innerHTML = '<img src="../../images/tick.png" th:src="@{/images/mistake.png}" th:alt="lot" height="40" width="50"/>';
                     				}
                     				else {
                     					x[6].innerHTML = '<img src="../../images/progress.png" th:src="@{/images/progress.png}" th:alt="lot" height="40" width="50"/>';
                     				}
                         			
                         		}
								else if(detail.object_type=="attr"){
                         			
                         			var x = document.getElementById("thistable").rows[6].cells;
                         			//console.log(table);
                         			x[0].innerHTML = "ATTR";
                         			x[1].innerHTML = detail.batch_id;
                         			x[2].innerHTML = formatDate(new Date(detail.start_dttm));
                         			x[3].innerHTML = formatDate(new Date(detail.end_dttm));
                         			x[4].innerHTML = formatDate(new Date(detail.update_dttm));
                         			x[5].innerHTML = detail.batch_status;
                         			if(detail.batch_status.toLowerCase() == 'z'){
                     					x[6].innerHTML = '<img src="../../images/tick.png" th:src="@{/images/tick.png}" th:alt="attr" height="40" width="50"/>';
                     				}
                     				else if(detail.batch_status.toLowerCase() == 'ce'){
                     					x[6].innerHTML = '<img src="../../images/tick.png" th:src="@{/images/mistake.png}" th:alt="attr" height="40" width="50"/>';
                     				}
                     				else {
                     					x[6].innerHTML = '<img src="../../images/progress.png" th:src="@{/images/tick.png}" th:alt="attr" height="40" width="50"/>';
                     				}
                         			
                         		}
                         		/*else{
                         			var x = document.getElementById("thistable").rows[5].cells;
                         			//console.log(table);
                         			x[0].innerHTML = "NO Object";
                         			x[1].innerHTML = "Null";
                         			x[2].innerHTML = "Null";
                         			x[3].innerHTML = "Null";
                         			x[4].innerHTML = "Null";
                         			x[5].innerHTML = "Null";
                         			x[6].innerHTML = "Null";
                         			x[7].innerHTML = "Null";
                         			
                         		}*/
                         		
                         		
                         	});	// end of second loop
            			 });	// end of first loop
            		 });	// end of get index call
            		 var graphUrl = "/graphToday?pass=1&profile="+profile;
            		 //drawGraph(graphUrl); 
            	 }		// end of tableData function
            	 
            	 var paginationUrl;
             	$(".clickable-row").click(function() {
             		paginationUrl = $(this).data("href");
             		var str1 = '/pagination?pass=1';
             		var str2 = '/pagination?pass=2';
             		var str3 = '/pagination?pass=3';
             		var str4 = '/pagination?pass=4';
             		var str5 = '/pagination?pass=5';
             		var str6 = '/pagination?pass=6';
             		
             		if(paginationUrl == str1){
        				$(".modal-title").html("Results for LOT");
        				var graphUrl = "/graphToday?pass=1&profile="+profile;
        				
        				type = "Lot";
        				document.getElementById("fortitle").innerHTML = type;
        				drawGraph(graphUrl);
        			}
        			else if(paginationUrl == str2){
        				$(".modal-title").html("Results for BUYER");
        				var graphUrl = "/graphToday?pass=2&profile="+profile;
       
        				type = "Buyer";
        				document.getElementById("fortitle").innerHTML = type;
        				drawGraph(graphUrl);
        			}
        			else if(paginationUrl == str3){
        				$(".modal-title").html("Results for SELLER");
        				var graphUrl = "/graphToday?pass=3&profile="+profile;
        				
        				type = "Seller";
        				document.getElementById("fortitle").innerHTML = type;
        				drawGraph(graphUrl);
        			}
        			else if(paginationUrl == str4){
        				$(".modal-title").html("Results for VIDEO");
        				var graphUrl = "/graphToday?pass=4&profile="+profile;
        				
        				type = "Video";
        				document.getElementById("fortitle").innerHTML = type;
        				drawGraph(graphUrl);
        			}
        			else if(paginationUrl == str5){
        				$(".modal-title").html("Results for IMAGE");
        				var graphUrl = "/graphToday?pass=5&profile="+profile;
        				
        				if(profile == 1 || profile == 3){
        					type = "Image_Reno"
        				}
        				else{
        					type = "Image_Colo";
        				}
        				
        				document.getElementById("fortitle").innerHTML = type;
        				drawGraph(graphUrl);
        			}
        			else if(paginationUrl == str6){
        				$(".modal-title").html("Results for ATTR");
        				var graphUrl = "/graphToday?pass=6&profile="+profile;
        				
        				type = "Attr";
        				document.getElementById("fortitle").innerHTML = type;
        				drawGraph(graphUrl);
        			}
                
             		paginationUrl = paginationUrl + "&profile="+profile;
             		//console.log("Pagination Url is "+paginationUrl);
             	});
             	
             	
             	$("#row1").click(function(){
         			$(this).css('background-color', '#FFFFB8');
    				$("#row2").css('background-color', '');
    				$("#row3").css('background-color', '');
    				$("#row4").css('background-color', '');
    				$("#row5").css('background-color', '');
    				$("#row6").css('background-color', '');
         		});
         		$("#row2").click(function(){
         			$(this).css('background-color', '#FFFFB8');
    				$("#row1").css('background-color', '');
    				$("#row3").css('background-color', '');
    				$("#row4").css('background-color', '');
    				$("#row5").css('background-color', '');
    				$("#row6").css('background-color', '');
         		});
         		$("#row3").click(function(){
         			$(this).css('background-color', '#FFFFB8');
    				$("#row1").css('background-color', '');
    				$("#row2").css('background-color', '');
    				$("#row4").css('background-color', '');
    				$("#row5").css('background-color', '');
    				$("#row6").css('background-color', '');
         		});
         		$("#row4").click(function(){
         			$(this).css('background-color', '#FFFFB8');
    				$("#row1").css('background-color', '');
    				$("#row3").css('background-color', '');
    				$("#row2").css('background-color', '');
    				$("#row5").css('background-color', '');
    				$("#row6").css('background-color', '');
         		});
         		$("#row5").click(function(){
         			$(this).css('background-color', '#FFFFB8');
    				$("#row1").css('background-color', '');
    				$("#row3").css('background-color', '');
    				$("#row4").css('background-color', '');
    				$("#row2").css('background-color', '');
    				$("#row6").css('background-color', '');
         		});
         		$("#row6").click(function(){
         			$(this).css('background-color', '#FFFFB8');
    				$("#row1").css('background-color', '');
    				$("#row3").css('background-color', '');
    				$("#row4").css('background-color', '');
    				$("#row2").css('background-color', '');
    				$("#row5").css('background-color', '');
         		});
             	
             	/* Assign empty url value to the iframe src attribute when
                modal hide, which stop the video playing */
                $("#myModal").on('hide.bs.modal', function(){
                    $("#cartoonVideo").attr('src', '');
                });
                
                /* Assign the initially stored url back to the iframe src
                attribute when modal is displayed again */
                $("#myModal").on('show.bs.modal', function(){
                    $("#paginationinIframe").attr('src', paginationUrl);
                });
            	 
                  var From = new Date($("#datepicker1").val());
    		      var To = new Date($("#datepicker2").val());
    		      var obj =$("#thisObject").val();
    		  		
	       		      	$("#datepicker1").on("change", function () {
	       				    From = new Date($(this).val());
	       				    });
	       				$("#datepicker2").on("change", function () {
	       				    To = new Date($(this).val());
	       				    });
	       				$("#thisObject").on("change", function () {
	       				    obj = $(this).val();
	       				    });
	       				From.setDate(From.getDate()+1);
    		 			To.setDate(To.getDate()+2);
                $("#myBtn").click(function(){
                		//alert(From + " "+ To);
	                	$("#row1").css('background-color', '');
	    				$("#row2").css('background-color', '');
	    				$("#row3").css('background-color', '');
	    				$("#row4").css('background-color', '');
	    				$("#row5").css('background-color', '');
	    				$("#row6").css('background-color', '');
            		var graphUrl = "/graphRange?obj="+obj+"&profile="+profile+"&From="+From+"&To="+To;
            		if(obj == 1){
            		type = "Lot";
    				document.getElementById("fortitle").innerHTML = type;
    				
            		}
            		else if(obj == 2){
                		type = "Buyer";
        				document.getElementById("fortitle").innerHTML = type;
        				
                	}
            		else if(obj == 3){
                		type = "Seller";
        				document.getElementById("fortitle").innerHTML = type;
        				
                	}
            		else if(obj == 4){
                		type = "Video";
        				document.getElementById("fortitle").innerHTML = type;
        				
                	}
            		else if(obj == 5){
            			if(profile == 1 || profile == 3){
                		type = "Image_Reno";
            			}
            			else if(profile == 2 || profile == 4){
            				type = "Image_Colo";	
            			}
        				document.getElementById("fortitle").innerHTML = type;
        				
                	}
            		else if(obj == 6){
                		type = "Attr";
        				document.getElementById("fortitle").innerHTML = type;
        				
                	}
            		
            		drawGraph(graphUrl);	
                });
                
            	 function formatDate(date) {
                 	  var hours = date.getHours();
                 	  var minutes = date.getMinutes();
                 	  var seconds = date.getSeconds();
                 	  var ampm = hours >= 12 ? 'pm' : 'am';
                 	  hours = hours % 12;
                 	  hours = hours ? hours : 12; // the hour '0' should be '12'
                 	  minutes = minutes < 10 ? '0'+minutes : minutes;
                 	  var strTime = hours + ':' + minutes+ ':' +seconds + ' ' + ampm;
                 	  return myMonth(date.getMonth()) + " " + date.getDate() + " " + date.getFullYear() + "  " + strTime;
                 	}
            	 
            	 function formatDate2(date) {
                	  var hours = date.getHours();
                	  var minutes = date.getMinutes();
                	  var seconds = date.getSeconds();
                	  var ampm = hours >= 12 ? 'pm' : 'am';
                	  hours = hours % 12;
                	  hours = hours ? hours : 12; // the hour '0' should be '12'
                	  minutes = minutes < 10 ? '0'+minutes : minutes;
                	  var strTime = hours + ':' + minutes+ ':' +seconds + ' ' + ampm;
                	  return myMonth(date.getMonth()) + " " + date.getDate() + " " + date.getFullYear() + "  " + strTime;
                	}
            	 
            	 function myMonth(i) {
                     var month = new Array();
                     month[0] = "Jan";
                     month[1] = "Feb";
                     month[2] = "Mar";
                     month[3] = "Apr";
                     month[4] = "May";
                     month[5] = "June";
                     month[6] = "July";
                     month[7] = "Aug";
                     month[8] = "Sep";
                     month[9] = "Oct";
                     month[10] = "Nov";
                     month[11] = "Dec";
                     var n = month[i];
                     return n;
                 }
            	 
            	 timer = setInterval ( tableData, time1 );
            	 
            	 
            	 var param = new Array();
    			 var start = new Array();
    			 var count = new Array();
         	     var object;
         	     
                 function drawGraph(graphUrl){
                	 
                	   param = [];
	               	   start = [];
	               	   count = [];
	               	   
                	 //console.log("Graph Url is "+graphUrl);
                	 $.get(graphUrl, function(data) {
                		 $.each(data, function(i, list) {
    		            	  $.each(list,function(j,detail){
    		            		   
    			               	   //console.log("list detail  is [ "+detail.batch_id+" ]")
    			               			if(detail.param < 0){
    			                   		 	param.push(-1*detail.param);
    			                   			//console.log("entered1");
    			                   		 }
    			               			else if(detail.param >= 3000 || detail.param == null){
    				                   			 param.push(3000);
    				                   		//console.log("entered2");
    				                   	}
    			               			else{
    				                   			 param.push(detail.param);
    				                   		//console.log("entered3");
    				                   	}
    			               			//console.log("param is "+detail.param +"start date is "+new Date(detail.start_dttm));
    			               			detail.end_dttm = detail.end_dttm; 
    			               			start.push(new Date(detail.end_dttm));
     				            		 count.push(detail.object_count);
     				            		 object = detail.object_type.toUpperCase();
     				            		 
    		            		  
    		            	  });	// end of second loop
            			 });	// end of first loop
            			 
                		 google.charts.load('current', {packages: ['corechart', 'bar']});
                    	 google.charts.setOnLoadCallback(drawChart);
                	 });	// end of get graphUrl
                	 
                	 //setTimeout(drawChart, 1500);
                	 
                	 //callback();
                	//google.charts.load('current', {packages: ['corechart', 'bar']});
     				//google.charts.setOnLoadCallback(drawChart);
                 } // end of draw graph fn
                 
                 
                 
                 
                 function drawChart(){
                	//alert($(window).width());
                   var object2;
              	   var maxobject = 0;
              	   
              	   //console.log(count.length);  
              	var data = new google.visualization.DataTable();
      			 data.addColumn('datetime', 'startdate');
      			 data.addColumn("number", 'Time Taken');
      			 if(object=='IMAGE_RENO' || object=='IMAGE_COLO' ){
      			  //maxobject = 30;
      			  object2 = 'Time Taken in minutes';
      			 }
      			 else if( object =='LOT'){
      				 object2 = 'Time Taken in minutes';
      			 	 //maxobject = 3;
      			 }
      			 else{
      			  //maxobject = 10;
      			  object2 = 'Time Taken in seconds';
      			 }
      			 
      			    data.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});
      		   for(i=0;i<param.length; i++){
      			 //console.log("param is "+param[i] +" start date is "+start[i]);
      			 if(count[i] != null){
      			 	count[i] = count[i].replace(/\D/g,'');
      			 }
      			   		   if(object=='IMAGE_RENO' || object=='IMAGE_COLO'){
      			   			if(Number(param[i]) > 3000){
      					   		param[i] = 3000;
      					   		}
      			   			   data.addRow([start[i], Number(param[i])/60, cretaeCustomHTMLContent(count[i],formatDate2(start[i]), Number(param[i])/60,2) ]);
      						   maxobject = maxobject + Number(param[i])/60;
      						   
      					   }else if( object =='LOT'){
      						   if(Number(param[i]) > 300){
      						   		param[i] = 300;
      						   		}
      						   data.addRow([start[i], Number(param[i])/60, cretaeCustomHTMLContent(count[i],formatDate2(start[i]), Number(param[i])/60,2) ]);
      						   maxobject = maxobject + Number(param[i])/60;
      						   
      						   //console.log(maxobject);
      					   }
      					   else{//console.log(Number(param[i]));
      							   if(Number(param[i]) > 120){
      							   		param[i] = 120;
      							   		}
      							data.addRow(  [start[i], Number(param[i]), cretaeCustomHTMLContent(count[i],formatDate2(start[i]), Number(param[i]),1) ]);
      							maxobject = maxobject + Number(param[i]);
      							//console.log(maxobject);
      						}
      		  			
      			   }
			      		   maxobject = maxobject/(param.length-1)*3;
			      		   
			      		   var options = {
			      		     hAxis: {
			      		       title: 'Start Date',
			      		       format: "d MMM h:00 aa"
			      		     },
			      		     vAxis: {
			      		       title: object2,
			      		       viewWindowMode:'explicit',
			      	              viewWindow:{
			      	                min:0,
			      	                max:maxobject
			      	              }
			      		     },
			      		   tooltip: { isHtml: true },
			      		     backgroundColor: '#ffffff','width':size,'height':200
			      		   };
			
			      		   var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
			      		   chart.draw(data, options);
              	   
                 }	//end of drawChart
                 
                 
                 
                 function cretaeCustomHTMLContent(count, start, time, units){
                	 if(units == 1){
                	 return '<div style="padding:1px 1px 1px 2px; ">' + 
                	 		 '<table style="text-align: left;" width="225">'+
                	 		 '<tr><td> <h6> <span style="color:#0000cc;">Count  :</span> <b><span style="color:#000000;">'+count+'</span></b></h6></td></tr>'+
                	 		 '<tr><td> <h6> <span style="color:#0000cc;">Start Date  :</span> <b><span style="color:#000000;">'+start+'</span></b></h6></td></tr>'+
                	 		 '<tr><td> <h6 <span style="color:#0000cc;">Time Taken  :</span> <b><span style="color:#000000;">'+time.toFixed(2)+' sec</span></b></h6></td></tr>'+
                	 		 '</table></div>';
                	 }
                	 else{
                		 return '<div style="padding:1px 1px 1px 2px; ">' + 
            	 		 '<table style="text-align: left;" width="225">'+
            	 		 '<tr><td> <h6> <span style="color:#0000cc;">Count  :</span> <b><span style="color:#000000;">'+count+'</span></b></h6></td></tr>'+
            	 		 '<tr><td> <h6> <span style="color:#0000cc;">Start Date  :</span> <b><span style="color:#000000;">'+start+'</span></b></h6></td></tr>'+
            	 		 '<tr><td> <h6 <span style="color:#0000cc;">Time Taken  :</span> <b><span style="color:#000000;">'+time.toFixed(2)+' min</span></b></h6></td></tr>'+
            	 		 '</table></div>'; 
                	 }
                 }
            	 
                 
                 
                 
            	 
            	 
             });  // end of document ready 
            
    
/*]]>*/
</script>
		
			 <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">PAGINATION</h4>
                </div>
                <div class="modal-body">
                    <iframe id="paginationinIframe" width="850" height="400" src=" " ></iframe>
                </div>
            </div>
        </div>
    </div>
		
</body>
</html>