<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss} %l - %m%n" />
		</layout>
	</appender>
	<appender name="rolling-file" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="${catalina.home}/logs/ss.log" />
		<param name="MaxFileSize" value="1024KB" />
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="3" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss} %l - %m%n" />
		</layout>
	</appender>

	<logger name="org.springframework">
        <level value="error"/>
    </logger>

    <logger name= "com.ots">
        <level value="debug"/>
    </logger>    

	<root>
		<priority value="debug" />
		<appender-ref ref="console" />		
		<appender-ref ref="rolling-file" />
	</root>
</log4j:configuration>